/*-- Global style--*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #a095ab;
    color: #f9f5f5;
    font-family: Cabin, "Quattrocento Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: 1.5rem;
}

.hidden {
    display: none;
}

/* heading section */
#heading {
    font-family: "Alegreya Sans", "Fira Sans", sans-serif;
    font-size: 3rem;
    text-align: center; 
}

/*  Game field  */

.game-area {
    background-color: #291d2e;
    color: #d1fd02;
    box-sizing: border-box;
    position: relative;
    width: 70%;
    height: 70%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    display: inline-block;
    max-width: 530px;
}

.beat-info {
    font: 600;
    font-size: 1.5rem;
    text-align: center;
}

.choice-first {
    font-size: 2rem;
    text-align: center;
}


.user-picked {
    border: 4px solid #d1fd02;
    border-radius: 50%;
    padding: 4px;
}


.game-container {
    display: flex;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    margin: auto;
    padding: 10px 0;
    flex-wrap: wrap;
}

/*.game-text {
    display: flex;
    min-width: 80%;
    padding: 2px, 0;
    margin: 6px auto;
    justify-content: flex-end;
}*/

i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    font-size: 5rem;
    padding: 1rem;
    --fa-animation: fade;
    --fa-animation-duration: 3s;
    --fa-fade-opacity: 0.4;
    --fa-animation-iteration-count: 3;
}

td {
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    padding: 0 .75rem;
}

th {
    display: inline-flex;
    font-size: 1.25rem;
    text-align: center;
    padding: .50rem;
}

/* button style section*/
.btn {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    border-bottom: 2px;
    cursor: pointer;     
}

#btn-leave {
    background-color: #e33e33;
    color: #f9f5f5;
    font-size: large;
    box-shadow: 2px 2px 2px 2px #291d2e;
    display: none;
}

#btn-leave:hover {
    background-color:#d1fd02;
    color:#291d2e
    }

.btn-grn {
    background-color: #65a76b;
    color: #f9f5f5;
    font-size: large;
    box-shadow: 2px 2px 2px 2px #686d50;
  
}

.btn-grn:hover {
    background-color:#d1fd02;
    color:#291d2e
    }

.game-rules-btn {
    background-color: #a095ab;
    color: #291d2e;
    font-weight: bold;
    font-size: large;
    box-shadow: 2px 2px 2px 2px #686d50;
}

.game-rules-btn:hover {
    background-color:#d1fd02;
    color:#291d2e
    }

.picked {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*align-items: baseline;*/
}

.declare {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    max-width: 538px;
    align-content: center;
}

/* Result Board  Area*/

.results-area {
    display: flex;
    min-width: 830px;
    margin: 1rem;
    justify-content: space-around;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.tally {
    position: relative;

}

.cap-tally, .comp-tally {
    font-size: 1.5rem;
    text-align: justify;  
}

.cap-tally, .comp-tally, .exit {
    display: flex;
    flex-direction: row;
    padding-top: .5rem;        
}


.comp-tally {
    display: flex;                
    flex-direction: row;       
}

/* Responsive layout - when the screen is 1080px wide or larger*/
@media screen and (min-width: 1080px) {
}
.results-area {
    display: inline-flex;
    flex-direction: row;
    min-width: 538px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}
/* Responsive layout - when the screen is 768px wide or larger*/
@media screen and (min-width: 768px) {
}

.results-area {
    display: inline-flex;
    flex-direction: row;
    min-width: 300px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.scoreboard {
    display: inline;
}

/* Responsive layout - when the screen is 320px wide*/
@media screen and (max-width: 320px) {

    #heading {
        font-size: 2rem;
        text-align: center;
    }

    .game-area{
        width: 90%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
    }

    .instructions {
        padding-bottom: .5rem;
        text-align: center;
        font-size: .95rem;
    }
    
    .choice-first {
        font-size: 1rem;
        text-align: center;
    }
  
    .game-item {
        width: 50px;
        margin: 3px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: .35rem;
        letter-spacing: 1.5px;
    }

    .game-container {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 0;
        flex-wrap: wrap;
        align-content: center;
    }

    .beat-info {
        font: 500;
        font-size: .8rem;
        text-align: center;
    }

    i {  
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 3rem;
      }

    table {
        display:flex ;
    }    

    .btn-rd, .btn-grn, #btn-leave, .btn {
        width: 120px;
        height: 30px;
        font-size: smaller
    }
    
    
    .results-area {
        display: inline-flex;
        flex-direction: column;
        min-width: 272px;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-top: 1rem;
    }

    .cap-tally, .comp-tally {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: justify;
        margin-left: 0;
    }
    
    .cap-tally, .exit {
        display: flex;
        flex-direction: row;        
    }

    .cap-tally, .comp-tally, .exit {
        padding-top: 0;
    }

    .exit {
        margin-left:0;
    }
    
    .comp-tally {
        display: flex;                
        flex-direction: row;       
    }
    

}