/*-- Global style--*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #a095ab;
    color: #f9f5f5;
    font-family: Cabin, "Quattrocento Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: 1.5rem;
}

/* heading section */
#heading {
    font-family: "Alegreya Sans", "Fira Sans", sans-serif;
    font-size: 3rem;
    text-align: center;  
}

/*  Game field  */

.game-rules-btn {
    background-color: #a095ab;
    color: #291d2e;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 600;
    width: 220px;
    height: 60px;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-left: auto;
    margin-right: auto;
}

.game-area {
    background-color: #291d2e;
    color: #d1fd02;
    box-sizing: border-box;
    position: relative;
    width: 70%;
    height: 70%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.game-laws {
    max-width: 380px;

}

.instructions {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.beat-info {
    font: 600;
    font-size: 1.5rem;
    text-align: center;
}

.choice-first {
    font-size: 2rem;
    text-align: center;
}


.user-picked {
    border: 4px solid #d1fd02;
    border-radius: 50%;
    padding: 4px;
}


.game-container {
    display: flex;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    margin: auto;
    padding: 10px,0;
    flex-wrap: wrap;
}

.game-rules {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    letter-spacing: 0px;
}

.game-text {
    display: flex;
    min-width: 80%;
    padding: 2px, 0;
    margin: 6px auto;
    justify-content: flex-end;
}

i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    font-size: 5rem;
    padding: 1rem;
    --fa-animation: fade;
    --fa-animation-duration: 3s;
    --fa-fade-opacity: 0.4;
    --fa-animation-iteration-count: 3;
}

td {
    display: flexbox;
    font-size: 1rem;
    text-align: center;
    padding: 0,.75rem;
}

th {
    display: flexbox;
    font-size: 1.25rem;
    text-align: center;
    padding: .50rem;
}

#popup-box {
    display: inline-block;
    width: 70%;
    font-size: .9rem;
    font-weight: 600;
    background-color:#d1fd02;
    color: #291d2e;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    padding: 2px 0;
    border-radius:  4px;
    margin: 6px 0;
}


.btn {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
}

.btn-rd {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: #e33e33;
    color: #f9f5f5;
}

.btn-grn {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: #65a76b;
    color: #f9f5f5;
}

.shut-btn {
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.picked {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.declare {
    display: block;
    position: relative;
    font-size: 1.5rem;
}

/*Results Area*/
.results-area {
    display: flex;
    min-width: 830px;
    margin: 1rem;
    justify-content: space-around;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.tally {
    position: relative;

}

.cap-tally, .comp-tally {
    font-size: 1.5rem;
    text-align: justify;
  
}

.cap-tally, .comp-tally, .exit {
    display: flex;
    flex-direction: row;
    padding-top: .5rem;        
}


.comp-tally {
    display: flex;                
    flex-direction: row;       
}

/* Responsive layout - when the screen is 1080px wide or larger*/
@media screen and (min-width: 1080px) {
}

/* Responsive layout - when the screen is 768px wide or larger*/
@media screen and (min-width: 768px) {
}

.results-area {
    display: inline-flex;
    flex-direction: row;
    min-width: 538px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.scoreboard {
    display: inline;
}

/* Responsive layout - when the screen is 320px wide*/
@media screen and (max-width: 320px) {

    .heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .game-area{
        width: 95%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
    }

    .instructions {
        padding-bottom: .5rem;
        text-align: center;
    }
    
    .choice-first {
        font-size: 1.5rem;
        text-align: center;
    }
  
    .game-choice {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: .5rem;
        letter-spacing: 1.5px;
    }

    .game-container {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 10px,0;
        flex-wrap: wrap;
        align-content: center;
    }

    i {  
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 3rem;
      }

    table {
        display:flex ;
    }    

    .btn-rd {
        width: 150px;
        height: 40px;
    }
    
    .btn-grn {
        width: 150px;
        height: 40px;
    }
    
    .results-area {
        display: inline-flex;
        flex-direction: column;
        min-width: 272px;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-top: 1rem;
    }


    .cap-tally, .comp-tally {
        font-size: 1.5rem;
        padding-top: 1rem;
        text-align: justify;
        margin-left: 0;
    }
    
    .cap-tally, .exit {
        display: flex;
        flex-direction: row;        
    }
    
    .exit {
        margin-left:0;
    }
    
    .comp-tally {
        display: flex;                
        flex-direction: row;       
    }
    

}